<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show off web app: Password reset</title>
</head>
<body style="font-size: 16px; line-height: 1.5em;padding: 0px; margin: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">

<div>

    <div style="text-align: center; height: 160px;"
    ><a href="https://talkpython.fm"><img
            src="https://training.talkpython.fm/static/email/img/email-header.png"
            style="height: 160px;"
    /></a></div>

    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <br>
        <div>
            So we heard that you might have forgotten your password at
            Show off web app. Don't worry, you can use this link below to reset it.<br>
            <br>
            <div style="text-align: center;">
                <a href="http://localhost:6544/account/reset_password/{reset_code}"
                   style="font-weight: bold; color: white; text-decoration: none;border-radius: 5px; display: inline-block; padding: 6px 12px;margin-bottom: 0px;font-size: 14px;line-height: 1.42857;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-moz-user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;background-color: color: #FFF;background-color: #5CB85C;border-color: #4CAE4C;"
                >Reset your password</a>
            </div>
            <br>
            If that link didn't work, just copy and paste this into your browser:<br>
            <br>
            <div style="text-align: center; font-weight: bold;">
                http://localhost:6544/account/reset_password/{reset_code}<br>
            </div>
            <br>
            If you didn't request this reset, you should be able to safely ignore it.
            If you have questions, just reply to get back to us.
        </div>
        <br>
        <div>
            <div>
                Thanks for using Show off web app,<br>
                Talk Python
            </div>
            <div style="clear: both;"></div>
        </div>

    </div>
</div>
</body>
</html>